@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}
#logo {
    width: 70px
}

.container-fluid {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%); 

    }


.carousel-item h5 {
    color: grey;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    border-radius: 80px;
}
.carousel-item img {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: auto;
}


.display-1 {
    display: flex;
    justify-content: center;
    color: grey;
}

#carouselExampleCaptions{
    margin: auto;
    padding: auto;
}

.lead {
    max-width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
    padding-bottom: 10%;
}

.container img {
    width: 100%;
    height: 100%;
}

.col img {
    width: 400px;
    height: 400px;
    padding-bottom: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col h2 {
    width: auto;
    padding: auto;
    text-align: center;
    background-color: #e58c8a;
    border-radius: 50px;
}
.col p {
    width: auto;
    padding: auto;
    text-align: center;
    padding-top: 5%;

}

form { 
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }